
/* font-family: 'Playwrite BE VLG', serif;
} */



.btn-info{
    background-color: #1FBFBF;
    border-color: #1FBFBF;
    color: white;
}

.primero{
    color: #1FBFBF;
}

.fundo,
.dropdown-item.active, .dropdown-item:active
{
    background-color: #1FBFBF;
    color: aliceblue;
}


/* Cabeçalho */

header {
    background-color: #c7dee0;
   
    font-family: "Cinzel", serif;
    font-weight: bold;
    
}


header ul{
    display: flex;
    
}

 li{
    list-style: none;
    padding:0 20px;
}
header img{
    width: 100px;
}

/* cabeçaçho nav */
header .nav-pills .nav-link.active{
    background-color: #1FBFBF;
    color: white;
    padding: 5px;
}






/* Ofertas */

.container h2{
   
    font-family: 'Cinzel', serif;
}
/* Mais procurados */

#texto{
    width: 100%;
    height: 280px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#texto .scrollspy-lista .row,
#texto .scrollspy-lista .row .mt-4{
    margin: 3.5em 0;
}

#texto h3{
  font-family: 'Playwrite BE VLG', serif ;
}

#texto img{
    width: 210px;
}

.list-group-item.active{
    background-color: #1FBFBF;
    border-color: #1FBFBF;
    color: white;
}

/* destino */

#destino h5 {
    display: flex;
    align-self: center;
    align-items: center;
}

/* footer */

footer{
    background-color:#c7dee0;
    margin: 0;
    
}

textarea{
    
    resize: none;
}

.redes, .redes a {
    font-size: 50px;
    color: black;
}